# task1

In [3]:
import pandas as pd
cont=pd.read_csv("/Users/Dorene/Desktop/model-dev-coding-exercise-public-master 2/contracts/Contracts.csv")
cont

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName
0,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
1,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH
2,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX
3,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON

In [5]:
gda=pd.read_csv("/Users/Dorene/Desktop/model-dev-coding-exercise-public-master 2/fuelPrices/GDA_TETSTX.csv")
henry=pd.read_csv("/Users/Dorene/Desktop/model-dev-coding-exercise-public-master 2/fuelPrices/Henry Hub.csv")
gda

        Variable        Date  Price
0     GDA_TETSTX  2019-05-01  2.490
1     GDA_TETSTX  2019-04-30  2.420
2     GDA_TETSTX  2019-04-29  2.445
3     GDA_TETSTX  2019-04-28  2.445
4     GDA_TETSTX  2019-04-27  2.445
...          ...         ...    ...
1942  GDA_TETSTX  2014-01-05  4.185
1943  GDA_TETSTX  2014-01-04  4.185
1944  GDA_TETSTX  2014-01-03  4.170
1945  GDA_TETSTX  2014-01-02  4.165
1946  GDA_TETSTX  2014-01-01  4.165

[1947 rows x 3 columns]

In [6]:
plant=pd.read_csv("/Users/Dorene/Desktop/model-dev-coding-exercise-public-master 2/plantParameters/Plant_Parameters.csv")
plant

,PlantName,Year,Month,PowerPriceName,FuelPriceName,Capacity,HeatRate,VOM,FuelTransportationCost,FixedStartCost
0,Alpha,2017,1,HB_HOUSTON,Henry Hub,100,9.2,3,0.10,10000
1,Alpha,2017,2,HB_HOUSTON,Henry Hub,98,9.4,3,0.10,10000
2,Alpha,2017,3,HB_HOUSTON,Henry Hub,96,9.6,3,0.10,10000
3,Alpha,2017,4,HB_HOUSTON,Henry Hub,94,9.8,3,0.10,10000
4,Alpha,2017,5,HB_HOUSTON,Henry Hub,92,10.0,3,0.10,10000
5,Alpha,2017,6,HB_HOUSTON,Henry Hub,90,10.0,3,0.10,10000
6,Alpha,2017,7,HB_HOUSTON,Henry Hub,90,10.0,3,0.10,10000
7,Alpha,2017,8,HB_HOUSTON,Henry Hub,92,10.0,3,0.10,10000
8,Alpha,2017,9,HB_HOUSTON,Henry Hub,94,9.8,3,0.10,10000
9,Alpha,2017,10,HB_HOUSTON,Henry Hub,96,9.6,3,0.10,10000
10,Alpha,2017,11,HB_HOUSTON,Henry Hub,98,9.4,3,0.10,10000
11,Alpha,2017,12,HB_HOUSTON,Henry Hub,100,9.2,3,0.10,10000
12,Alpha,2018,1,HB_HOUSTON,Henry Hub,100,9.2,3,0.10,10000
13,Alpha,2018,2,HB_HOUSTON,Henry Hub,98,9.4,3,0.10,10000
14,Alpha,2018,3,HB_HOUSTON,Henry Hub,96,9.6,3,0.10,10000
15,Alpha,2018,4,HB_HOUSTON,Henry Hub,94,9.8,3,0.10,10000
16,Alpha,2018,5,HB_HOUSTON,Henry Hub,92,10.0,3,0.10,10000
17,Alpha,2018,6,HB_HOUSTON,Henry Hub,90,10.0,3,0.10,10000
18,Alpha,2018,7,HB_HOUSTON,Henry Hub,90,10.0,3,0.10,10000
19,Alpha,2018,8,HB_HOUSTON,Henry Hub,92,10.0,3,0.10,10000
20,Alpha,2018,9,HB_HOUSTON,Henry Hub,94,9.8,3,0.10,10000
21,Alpha,2018,10,HB_HOUSTON,Henry Hub,96,9.6,3,0.10,10000
22,Alpha,2018,11,HB_HOUSTON,Henry Hub,98,9.4,3,0.10,10000
23,Alpha,2018,12,HB_HOUSTON,Henry Hub,100,9.2,3,0.10,10000
24,Bravo,2017,1,HB_SOUTH,GDA_TETSTX,250,7.6,2,0.05,50000
25,Bravo,2017,2,HB_SOUTH,GDA_TETSTX,245,7.7,2,0.05,50000
26,Bravo,2017,3,HB_SOUTH,GDA_TETSTX,240,7.7,2,0.05,50000
27,Bravo,2017,4,HB_SOUTH,GDA_TETSTX,235,7.8,2,0.05,50000
28,Bravo,2017,5,HB_SOUTH,GDA_TETSTX,230,7.8,2,0.05,50000
29,Bravo,2017,6,HB_SOUTH,GDA_TETSTX,225,7.9,2,0.05,50000
30,Bravo,2017,7,HB_SOUTH,GDA_TETSTX,225,7.9,2,0.05,50000
31,Bravo,2017,8,HB_SOUTH,GDA_TETSTX,230,7.8,2,0.05,50000
32,Bravo,2017,9,HB_SOUTH,GDA_TETSTX,235,7.8,2,0.05,50000
33,Bravo,2017,10,HB_SOUTH,GDA_TETSTX,240,7.7,2,0.05,50000
34,Bravo,2017,11,HB_SOUTH,GDA_TETSTX,245,7.7,2,0.05,50000
35,Bravo,2017,12,HB_SOUTH,GDA_TETSTX,250,7.6,2,0.05,50000
36,Bravo,2018,1,HB_SOUTH,GDA_TETSTX,250,7.6,2,0.05,50000
37,Bravo,2018,2,HB_SOUTH,GDA_TETSTX,245,7.7,2,0.05,50000
38,Bravo,2018,3,HB_SOUTH,GDA_TETSTX,240,7.7,2,0.05,50000
39,Bravo,2018,4,HB_SOUTH,GDA_TETSTX,235,7.8,2,0.05,50000
40,Bravo,2018,5,HB_SOUTH,GDA_TETSTX,230,7.8,2,0.05,50000
41,Bravo,2018,6,HB_SOUTH,GDA_TETSTX,225,7.9,2,0.05,50000
42,Bravo,2018,7,HB_SOUTH,GDA_TETSTX,225,7.9,2,0.05,50000
43,Bravo,2018,8,HB_SOUTH,GDA_TETSTX,230,7.8,2,0.05,50000
44,Bravo,2018,9,HB_SOUTH,GDA_TETSTX,235,7.8,2,0.05,50000
45,Bravo,2018,10,HB_SOUTH,GDA_TETSTX,240,7.7,2,0.05,50000
46,Bravo,2018,11,HB_SOUTH,GDA_TETSTX,245,7.7,2,0.05,50000
47,Bravo,2018,12,HB_SOUTH,GDA_TETSTX,250,7.6,2,0.05,50000

In [7]:
e16=pd.read_csv("/Users/Dorene/Desktop/model-dev-coding-exercise-public-master 2/powerPrices/ERCOT_DA_Prices_2016.csv")
e17=pd.read_csv("/Users/Dorene/Desktop/model-dev-coding-exercise-public-master 2/powerPrices/ERCOT_DA_Prices_2017.csv")
e18=pd.read_csv("/Users/Dorene/Desktop/model-dev-coding-exercise-public-master 2/powerPrices/ERCOT_DA_Prices_2018.csv")
e19=pd.read_csv("/Users/Dorene/Desktop/model-dev-coding-exercise-public-master 2/powerPrices/ERCOT_DA_Prices_2019.csv")

# task2

In [8]:
e17

                       Date SettlementPoint  Price
0       2017-01-01 00:00:00       HB_BUSAVG  23.23
1       2017-01-01 00:00:00      HB_HOUSTON  23.23
2       2017-01-01 00:00:00       HB_HUBAVG  23.23
3       2017-01-01 00:00:00        HB_NORTH  23.23
4       2017-01-01 00:00:00        HB_SOUTH  23.23
...                     ...             ...    ...
122621  2017-12-31 23:00:00         LZ_LCRA  21.71
122622  2017-12-31 23:00:00        LZ_NORTH  21.76
122623  2017-12-31 23:00:00        LZ_RAYBN  21.78
122624  2017-12-31 23:00:00        LZ_SOUTH  22.39
122625  2017-12-31 23:00:00         LZ_WEST  22.90

[122626 rows x 3 columns]

In [9]:
t2=pd.concat([e16,e17,e18,e19])
t2=t2.reset_index(drop=True)
import datetime
t2.Date=t2.Date.apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
t2group=t2.groupby([t2.SettlementPoint,t2.Date.dt.year,t2.Date.dt.month])
t2

                      Date SettlementPoint  Price
0      2016-01-01 00:00:00       HB_BUSAVG  18.42
1      2016-01-01 00:00:00      HB_HOUSTON  18.42
2      2016-01-01 00:00:00       HB_HUBAVG  18.42
3      2016-01-01 00:00:00        HB_NORTH  18.43
4      2016-01-01 00:00:00        HB_SOUTH  18.38
...                    ...             ...    ...
497315 2019-12-31 23:00:00         LZ_LCRA  14.53
497316 2019-12-31 23:00:00        LZ_NORTH  14.48
497317 2019-12-31 23:00:00        LZ_RAYBN  14.48
497318 2019-12-31 23:00:00        LZ_SOUTH  14.70
497319 2019-12-31 23:00:00         LZ_WEST  16.78

[497320 rows x 3 columns]

In [10]:
t2_mean=t2group.mean()
t2_max=t2group.max()
t2_min=t2group.min()
t2_std=t2group.std()

In [11]:
t2_mean.index.names=['SettlementPoint', 'year', 'month']
t2_max.index.names=['SettlementPoint', 'year', 'month']
t2_min.index.names=['SettlementPoint', 'year', 'month']
t2_std.index.names=['SettlementPoint', 'year', 'month']

In [12]:
# t2_mean=t2_mean.reset_index()
# t2_max=t2_max.reset_index()
# t2_min=t2_min.reset_index()
# t2_std=t2_std.reset_index()

# task3

In [13]:
import numpy as np
t2group3=t2.groupby([t2.SettlementPoint,t2.Date.dt.year,t2.Date.dt.month,t2.Date.dt.date,t2.Date.dt.hour])
t3=t2group3.mean()
t3.index.names=['SettlementPoint', 'year', 'month', "date",'hour']
t3=t3.reset_index()
# g=t3.groupby([t2.SettlementPoint,t2.Date.dt.year,t2.Date.dt.month,t2.Date.dt.hour])
t3

       SettlementPoint  year  month        date  hour  Price
0            HB_BUSAVG  2016      1  2016-01-01     0  18.42
1            HB_BUSAVG  2016      1  2016-01-01     1  16.15
2            HB_BUSAVG  2016      1  2016-01-01     2  15.61
3            HB_BUSAVG  2016      1  2016-01-01     3  15.62
4            HB_BUSAVG  2016      1  2016-01-01     4  15.94
...                ...   ...    ...         ...   ...    ...
497315         LZ_WEST  2019     12  2019-12-31    19  33.45
497316         LZ_WEST  2019     12  2019-12-31    20  31.49
497317         LZ_WEST  2019     12  2019-12-31    21  24.47
497318         LZ_WEST  2019     12  2019-12-31    22  19.17
497319         LZ_WEST  2019     12  2019-12-31    23  16.78

[497320 rows x 6 columns]

In [14]:
t3=pd.DataFrame(t3.groupby([t3.SettlementPoint,t3.year,t3.month,t3.date]).apply(lambda x:np.log(x.Price).diff().std()))

/Users/Dorene/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/Dorene/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/Dorene/opt/anaconda3/lib/python3.8/site-packages/pandas/core/algorithms.py:1926: RuntimeWarning: invalid value encountered in subtract
  out_arr[res_indexer] = arr[res_indexer] - arr[lag_indexer]

In [15]:
t3=t3.reset_index()
t3

      SettlementPoint  year  month        date         0
0           HB_BUSAVG  2016      1  2016-01-01  0.073215
1           HB_BUSAVG  2016      1  2016-01-02  0.073592
2           HB_BUSAVG  2016      1  2016-01-03  0.064709
3           HB_BUSAVG  2016      1  2016-01-04  0.245759
4           HB_BUSAVG  2016      1  2016-01-05  0.225209
...               ...   ...    ...         ...       ...
20719         LZ_WEST  2019     12  2019-12-27  0.230953
20720         LZ_WEST  2019     12  2019-12-28  0.206968
20721         LZ_WEST  2019     12  2019-12-29  0.279357
20722         LZ_WEST  2019     12  2019-12-30  0.352715
20723         LZ_WEST  2019     12  2019-12-31  0.270370

[20724 rows x 5 columns]

In [16]:
import numpy as np
t3=t3.groupby([t3.SettlementPoint,t3.year,t3.month]).mean()
# t3=t3.reset_index()
# t3=pd.DataFrame(t3)

# task4

In [17]:
temp=pd.merge(t2_mean,t2_max,right_index=True,left_index=True)
temp=pd.merge(temp,t2_min,right_index=True,left_index=True)
temp=pd.merge(temp,t2_std,right_index=True,left_index=True)
temp=pd.merge(temp,t3,right_index=True,left_index=True)

In [18]:
temp.columns=["Year", "Month", "Mean", "Min", "Max", "SD", "Volatility"]

ValueError: Length mismatch: Expected axis has 9 elements, new values have 7 elements

In [20]:
t4=temp
t4

                               Price_x              Date_x  Price_y  \
SettlementPoint year month
HB_BUSAVG       2016 1       19.209301 2016-01-31 23:00:00    54.69
                     2       15.288247 2016-02-29 23:00:00    50.98
                     3       16.755626 2016-03-31 23:00:00    64.31
                     4       18.289347 2016-04-30 23:00:00    93.09
                     5       18.159583 2016-05-31 23:00:00    73.61
...                                ...                 ...      ...
LZ_WEST         2019 8      128.876465 2019-08-31 23:00:00  3505.60
                     9       83.471139 2019-09-30 23:00:00  5015.25
                     10      49.383360 2019-10-31 23:00:00   873.07
                     11      49.340847 2019-11-30 23:00:00   286.91
                     12      39.502594 2019-12-31 23:00:00   195.71

                               Date_y  Price_x     Price_y  year  month  \
SettlementPoint year month
HB_BUSAVG       2016 1     2016-01-01     5.12    5.485210  2016      1
                     2     2016-02-01     1.79    5.777172  2016      2
                     3     2016-03-01     1.22    7.368497  2016      3
                     4     2016-04-01     1.18    9.506143  2016      4
                     5     2016-05-01     3.03    8.017221  2016      5
...                               ...      ...         ...   ...    ...
LZ_WEST         2019 8     2019-08-01     9.12  402.114146  2019      8
                     9     2019-09-01     6.59  380.453919  2019      9
                     10    2019-10-01     0.79   62.396856  2019     10
                     11    2019-11-01     3.60   31.876126  2019     11
                     12    2019-12-01     7.32   27.975862  2019     12

                                   0
SettlementPoint year month
HB_BUSAVG       2016 1      0.154201
                     2      0.211292
                     3      0.206988
                     4      0.216113
                     5      0.166328
...                              ...
LZ_WEST         2019 8      0.484577
                     9      0.309277
                     10     0.302167
                     11     0.260958
                     12     0.286399

[681 rows x 9 columns]

In [21]:
t4.to_csv("MonthlyPowerPriceStatistics.csv")

# task5

In [22]:
cont

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName
0,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
1,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH
2,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX
3,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON

In [23]:
cont.StartDate=cont.StartDate.apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d'))
cont.EndDate=cont.EndDate.apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d'))
cont

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName
0,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
1,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH
2,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX
3,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON

In [24]:
cont.StartDate[0]
cont.loc[0,:]

ContractName                     S1
DealType                       Swap
StartDate       2017-01-01 00:00:00
EndDate         2017-03-31 00:00:00
Volume                        20000
Granularity                   Daily
StrikePrice                       3
Premium                         NaN
PriceName                 Henry Hub
Name: 0, dtype: object

In [25]:

time_range = pd.date_range(cont.StartDate[0], cont.EndDate[0], freq='D')
s1=pd.DataFrame(index=time_range,columns=cont.columns)
s1

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName
2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2017-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:

time_range = pd.date_range(cont.StartDate[1], cont.EndDate[1], freq='H')
s2=pd.DataFrame(index=time_range,columns=cont.columns)
s2

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName
2017-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2018-12-30 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:

time_range = pd.date_range(cont.StartDate[2], cont.EndDate[2], freq='D')
o1=pd.DataFrame(index=time_range,columns=cont.columns)
o1

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName
2017-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:

time_range = pd.date_range(cont.StartDate[3], cont.EndDate[3], freq='H')
o2=pd.DataFrame(index=time_range,columns=cont.columns)
o2

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName
2018-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2019-09-29 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-09-29 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-09-29 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-09-29 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-09-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
t=[s1,s2,o1,o2]
for i in range(len(t)):
    s=t[i]
    s.ContractName=cont.loc[i,:].ContractName
    s.DealType=cont.loc[i,:].DealType
    s.StartDate=cont.loc[i,:].StartDate
    s.EndDate=cont.loc[i,:].EndDate
    s.Volume=cont.loc[i,:].Volume
    s.Granularity=cont.loc[i,:].Granularity
    s.StrikePrice=cont.loc[i,:].StrikePrice
    s.Premium=cont.loc[i,:].Premium
    s.PriceName=cont.loc[i,:].PriceName

In [30]:
s1

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName
2017-01-01,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
2017-01-02,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
2017-01-03,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
2017-01-04,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
2017-01-05,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
...,...,...,...,...,...,...,...,...,...
2017-03-27,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
2017-03-28,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
2017-03-29,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
2017-03-30,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
2017-03-31,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub

# task6

In [31]:
henry=pd.read_csv("/Users/Dorene/Desktop/model-dev-coding-exercise-public-master 2/fuelPrices/Henry Hub.csv")
henry=henry.set_index("Date")
t6_s1=pd.merge(s1,henry,left_index=True,right_index=True).drop(columns=["Variable"])
t6_s1

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName,Price
2017-01-01,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,3.650
2017-01-02,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,3.650
2017-01-03,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,3.650
2017-01-04,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,3.390
2017-01-05,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,3.370
...,...,...,...,...,...,...,...,...,...,...
2017-03-27,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,2.925
2017-03-28,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,2.955
2017-03-29,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,2.935
2017-03-30,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,3.035
2017-03-31,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,3.065

In [33]:
gda=pd.read_csv("/Users/Dorene/Desktop/model-dev-coding-exercise-public-master 2/fuelPrices/GDA_TETSTX.csv")
gda=gda.set_index("Date")
t6_o1=pd.merge(o1,gda,left_index=True,right_index=True).drop(columns=["Variable"])
t6_o1

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName,Price
2017-06-01,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,3.000
2017-06-02,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.915
2017-06-03,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865
2017-06-04,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865
2017-06-05,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865
2017-06-06,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.880
2017-06-07,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.900
2017-06-08,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.965
2017-06-09,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925
2017-06-10,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.970
2017-06-11,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.970
2017-06-12,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.970
2017-06-13,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.950
2017-06-14,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925
2017-06-15,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.900
2017-06-16,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.890
2017-06-17,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925
2017-06-18,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925
2017-06-19,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925
2017-06-20,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930
2017-06-21,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.900
2017-06-22,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.920
2017-06-23,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930
2017-06-24,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930
2017-06-25,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930
2017-06-26,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930
2017-06-27,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.990
2017-06-28,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.960
2017-06-29,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.950
2017-06-30,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.955
2017-07-01,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875
2017-07-02,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875
2017-07-03,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875
2017-07-04,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875
2017-07-05,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875
2017-07-06,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.825
2017-07-07,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.835
2017-07-08,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865
2017-07-09,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865
2017-07-10,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865
2017-07-11,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.910
2017-07-12,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.910
2017-07-13,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.915
2017-07-14,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865
2017-07-15,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.935

In [34]:
cont

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName
0,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
1,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH
2,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX
3,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON

In [35]:
hb=t2.loc[t2.SettlementPoint=="HB_NORTH",:].reset_index(drop=True).set_index("Date")
t6_s2=pd.merge(s2,hb,left_index=True,right_index=True)
t6_s2

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName,SettlementPoint,Price
2017-01-01 00:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,23.23
2017-01-01 01:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,21.82
2017-01-01 02:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,20.16
2017-01-01 03:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,20.00
2017-01-01 04:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,20.24
...,...,...,...,...,...,...,...,...,...,...,...
2018-12-30 20:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,26.71
2018-12-30 21:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,26.74
2018-12-30 22:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,25.18
2018-12-30 23:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,23.22
2018-12-31 00:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,20.44

In [36]:
hu=t2.loc[t2.SettlementPoint=="HB_HOUSTON",:].reset_index(drop=True).set_index("Date")
t6_o2=pd.merge(o2,hu,left_index=True,right_index=True)
t6_o2

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName,SettlementPoint,Price
2018-10-01 00:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,18.64
2018-10-01 01:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,17.48
2018-10-01 02:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,17.60
2018-10-01 03:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,17.38
2018-10-01 04:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,18.28
...,...,...,...,...,...,...,...,...,...,...,...
2019-09-29 20:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,23.71
2019-09-29 21:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,20.95
2019-09-29 22:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,18.56
2019-09-29 23:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,17.89
2019-09-30 00:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,16.48

# task7

In [37]:
t6_s1.loc[:,"payoffs"]=(t6_s1.loc[:,"Price"]-t6_s1.loc[:,"StrikePrice"])*t6_s1.loc[:,"Volume"]
t6_s1

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName,Price,payoffs
2017-01-01,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,3.650,13000.0
2017-01-02,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,3.650,13000.0
2017-01-03,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,3.650,13000.0
2017-01-04,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,3.390,7800.0
2017-01-05,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,3.370,7400.0
...,...,...,...,...,...,...,...,...,...,...,...
2017-03-27,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,2.925,-1500.0
2017-03-28,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,2.955,-900.0
2017-03-29,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,2.935,-1300.0
2017-03-30,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,3.035,700.0
2017-03-31,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,3.065,1300.0

In [38]:
t6_s2.loc[:,"payoffs"]=(t6_s2.loc[:,"Price"]-t6_s2.loc[:,"StrikePrice"])*t6_s2.loc[:,"Volume"]
t6_s2

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName,SettlementPoint,Price,payoffs
2017-01-01 00:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,23.23,2230.0
2017-01-01 01:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,21.82,820.0
2017-01-01 02:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,20.16,-840.0
2017-01-01 03:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,20.00,-1000.0
2017-01-01 04:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,20.24,-760.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-30 20:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,26.71,5710.0
2018-12-30 21:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,26.74,5740.0
2018-12-30 22:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,25.18,4180.0
2018-12-30 23:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,23.22,2220.0
2018-12-31 00:00:00,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH,HB_NORTH,20.44,-560.0

In [39]:
t6_o1

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName,Price
2017-06-01,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,3.000
2017-06-02,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.915
2017-06-03,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865
2017-06-04,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865
2017-06-05,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865
2017-06-06,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.880
2017-06-07,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.900
2017-06-08,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.965
2017-06-09,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925
2017-06-10,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.970
2017-06-11,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.970
2017-06-12,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.970
2017-06-13,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.950
2017-06-14,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925
2017-06-15,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.900
2017-06-16,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.890
2017-06-17,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925
2017-06-18,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925
2017-06-19,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925
2017-06-20,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930
2017-06-21,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.900
2017-06-22,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.920
2017-06-23,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930
2017-06-24,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930
2017-06-25,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930
2017-06-26,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930
2017-06-27,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.990
2017-06-28,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.960
2017-06-29,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.950
2017-06-30,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.955
2017-07-01,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875
2017-07-02,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875
2017-07-03,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875
2017-07-04,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875
2017-07-05,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875
2017-07-06,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.825
2017-07-07,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.835
2017-07-08,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865
2017-07-09,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865
2017-07-10,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865
2017-07-11,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.910
2017-07-12,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.910
2017-07-13,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.915
2017-07-14,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865
2017-07-15,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.935

In [40]:
t6_o1.loc[:,"payoffs"]=(t6_o1.loc[:,"Price"]-t6_o1.loc[:,"StrikePrice"]).clip(0, None)*t6_o1.loc[:,"Volume"]
t6_o1

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName,Price,payoffs
2017-06-01,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,3.000,1000.0
2017-06-02,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.915,150.0
2017-06-03,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865,0.0
2017-06-04,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865,0.0
2017-06-05,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865,0.0
2017-06-06,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.880,0.0
2017-06-07,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.900,0.0
2017-06-08,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.965,650.0
2017-06-09,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925,250.0
2017-06-10,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.970,700.0
2017-06-11,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.970,700.0
2017-06-12,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.970,700.0
2017-06-13,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.950,500.0
2017-06-14,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925,250.0
2017-06-15,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.900,0.0
2017-06-16,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.890,0.0
2017-06-17,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925,250.0
2017-06-18,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925,250.0
2017-06-19,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.925,250.0
2017-06-20,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930,300.0
2017-06-21,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.900,0.0
2017-06-22,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.920,200.0
2017-06-23,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930,300.0
2017-06-24,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930,300.0
2017-06-25,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930,300.0
2017-06-26,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.930,300.0
2017-06-27,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.990,900.0
2017-06-28,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.960,600.0
2017-06-29,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.950,500.0
2017-06-30,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.955,550.0
2017-07-01,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875,0.0
2017-07-02,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875,0.0
2017-07-03,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875,0.0
2017-07-04,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875,0.0
2017-07-05,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.875,0.0
2017-07-06,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.825,0.0
2017-07-07,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.835,0.0
2017-07-08,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865,0.0
2017-07-09,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865,0.0
2017-07-10,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865,0.0
2017-07-11,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.910,100.0
2017-07-12,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.910,100.0
2017-07-13,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.915,150.0
2017-07-14,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.865,0.0
2017-07-15,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX,2.935,350.0

In [41]:
t6_o2.loc[:,"payoffs"]=(t6_o2.loc[:,"Price"]-t6_o2.loc[:,"StrikePrice"]).clip(0, None)*t6_o2.loc[:,"Volume"]
t6_o2

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName,SettlementPoint,Price,payoffs
2018-10-01 00:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,18.64,0.0
2018-10-01 01:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,17.48,0.0
2018-10-01 02:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,17.60,0.0
2018-10-01 03:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,17.38,0.0
2018-10-01 04:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,18.28,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-29 20:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,23.71,0.0
2019-09-29 21:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,20.95,0.0
2019-09-29 22:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,18.56,0.0
2019-09-29 23:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,17.89,0.0
2019-09-30 00:00:00,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON,HB_HOUSTON,16.48,0.0

# task8

In [42]:

t8_s1=t6_s1.groupby([t6_s1.index.year,t6_s1.index.month])["payoffs"].sum().reset_index().rename(columns={"level_0":"Year","level_1":"Month"})
t8_s1.loc[:,"ContractName"]="S1"
t8_s1

   Year  Month   payoffs ContractName
0  2017      1  198300.0           S1
1  2017      2  -97700.0           S1
2  2017      3  -97700.0           S1

In [43]:

t8_s2=t6_s2.groupby([t6_s2.index.year,t6_s2.index.month])["payoffs"].sum().reset_index().rename(columns={"level_0":"Year","level_1":"Month"})
t8_s2.loc[:,"ContractName"]="S2"

In [44]:

t8_o1=t6_o1.groupby([t6_o1.index.year,t6_o1.index.month])["payoffs"].sum().reset_index().rename(columns={"level_0":"Year","level_1":"Month"})
t8_o1.loc[:,"ContractName"]="O1"

In [45]:

t8_o2=t6_o2.groupby([t6_o2.index.year,t6_o2.index.month])["payoffs"].sum().reset_index().rename(columns={"level_0":"Year","level_1":"Month"})
t8_o2.loc[:,"ContractName"]="O2"

In [46]:
t8=pd.concat([t8_s1,t8_s2,t8_o1,t8_o2],ignore_index=True)
pd.set_option('display.max_rows', None)

# task9

In [47]:
t8.to_csv("MonthlyContractPayoffs.csv")

In [40]:
t8

    Year  Month     payoffs ContractName
0   2017      1    198300.0           S1
1   2017      2    -97700.0           S1
2   2017      3    -97700.0           S1
3   2017      1   1481940.0           S2
4   2017      2  -1042810.0           S2
5   2017      3    169240.0           S2
6   2017      4    295600.0           S2
7   2017      5   1800420.0           S2
8   2017      6   3521210.0           S2
9   2017      7   7182810.0           S2
10  2017      8   4339550.0           S2
11  2017      9   1689200.0           S2
12  2017     10    301990.0           S2
13  2017     11    429270.0           S2
14  2017     12    -34970.0           S2
15  2018      1  12339910.0           S2
16  2018      2    515440.0           S2
17  2018      3   1194750.0           S2
18  2018      4   1816500.0           S2
19  2018      5  10643770.0           S2
20  2018      6   6632560.0           S2
21  2018      7  43128530.0           S2
22  2018      8   7888670.0           S2
23  2018      9   4535740.0           S2
24  2018     10   6721420.0           S2
25  2018     11   7369120.0           S2
26  2018     12   6966000.0           S2
27  2017      6      9900.0           O1
28  2017      7       700.0           O1
29  2018     10   2739430.0           O2
30  2018     11   2758010.0           O2
31  2018     12   2275140.0           O2
32  2019      1    911460.0           O2
33  2019      2    335180.0           O2
34  2019      3   2907800.0           O2
35  2019      4   1429430.0           O2
36  2019      5   1134280.0           O2
37  2019      6   2933630.0           O2
38  2019      7   5587940.0           O2
39  2019      8  77572320.0           O2
40  2019      9  41265380.0           O2

# task 10

In [53]:
data = pd.read_csv("/Users/Dorene/Desktop/model-dev-coding-exercise-public-master 2/plantParameters/Plant_Parameters.csv")
Henry_Hub = pd.read_csv("/Users/Dorene/Desktop/model-dev-coding-exercise-public-master 2/fuelPrices/Henry Hub.csv")
GDA_TETSTX = pd.read_csv("/Users/Dorene/Desktop/model-dev-coding-exercise-public-master 2/fuelPrices/GDA_TETSTX.csv")

Henry_Hub['Date'] = pd.to_datetime(Henry_Hub['Date'])
GDA_TETSTX['Date'] = pd.to_datetime(GDA_TETSTX['Date'])

Henry_Hub1718 = Henry_Hub[pd.DatetimeIndex(Henry_Hub['Date']).year.isin([2017,2018])]
GDA_TETSTX1718 = GDA_TETSTX[pd.DatetimeIndex(GDA_TETSTX['Date']).year.isin([2017,2018])]

Henry_Hub1718['year'] = pd.DatetimeIndex(Henry_Hub1718['Date']).year
Henry_Hub1718['month'] = pd.DatetimeIndex(Henry_Hub1718['Date']).month
GDA_TETSTX1718['year'] = pd.DatetimeIndex(GDA_TETSTX1718['Date']).year
GDA_TETSTX1718['month'] = pd.DatetimeIndex(GDA_TETSTX1718['Date']).month

Henry_Hub1718J = Henry_Hub1718.merge(data, how='left', left_on=['Variable', 'year','month'], right_on=['FuelPriceName', 'Year','Month'])
GDA_TETSTX1718J = GDA_TETSTX1718.merge(data, how='inner', left_on=['Variable', 'year','month'], right_on=['FuelPriceName', 'Year','Month'])


Joined = pd.concat([Henry_Hub1718J,GDA_TETSTX1718J], axis = 0)

Joined['RunningCost'] = (Joined['Price'] + Joined['FuelTransportationCost'])*Joined['HeatRate'] + Joined['VOM']

Joined['RunningCost']

<ipython-input-53-4ee1b9d13713>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Henry_Hub1718['year'] = pd.DatetimeIndex(Henry_Hub1718['Date']).year
<ipython-input-53-4ee1b9d13713>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Henry_Hub1718['month'] = pd.DatetimeIndex(Henry_Hub1718['Date']).month
<ipython-input-53-4ee1b9d13713>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GDA_TETSTX1718['year'] = pd.DatetimeIndex(GDA_TETSTX1718['Date']).year
<ipython-input-53-4ee1b9d13713>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GDA_TETSTX1718['month'] = pd.DatetimeIndex(GDA_TETSTX1718['Date']).month

0      37.5000
1      37.5000
2      37.5000
3      35.1080
4      34.9240
5      34.2340
6      34.6020
7      34.6020
8      34.6020
9      32.6240
10     33.4520
11     34.0500
12     34.5100
13     34.8780
14     34.8780
15     34.8780
16     34.8780
17     34.3260
18     33.8660
19     33.4980
20     33.4060
21     33.4060
22     33.4060
23     32.9000
24     33.8200
25     33.8660
26     35.3840
27     34.1420
28     34.1420
29     34.1420
30     33.3140
31     32.1870
32     33.2680
33     33.0800
34     32.1400
35     32.1400
36     32.1400
37     31.4350
38     32.4690
39     32.5630
40     33.0800
41     31.4350
42     31.4350
43     31.4350
44     31.2940
45     30.7770
46     31.3880
47     30.4480
48     29.7430
49     29.7430
50     29.7430
51     29.7430
52     27.5810
53     27.7690
54     28.3800
55     27.2520
56     27.2520
57     27.2520
58     26.8290
59     28.0560
60     28.9200
61     28.8240
62     28.2480
63     28.2480
64     28.2480
65     29.7360
66     28.6800
67     29.7360
68     31.2720
69     32.5200
70     32.5200
71     32.5200
72     33.2400
73     33.1440
74     32.8080
75     31.2240
76     31.1280
77     31.1280
78     31.1280
79     32.0400
80     33.3840
81     32.7120
82     32.1360
83     32.0400
84     32.0400
85     32.0400
86     32.3280
87     32.1360
88     33.0960
89     33.3840
90     34.3110
91     34.3110
92     34.3110
93     34.0170
94     34.0660
95     35.4380
96     35.6340
97     35.2910
98     35.2910
99     35.2910
100    34.8500
101    34.1640
102    33.3310
103    33.2330
104    33.2330
105    33.2330
106    33.2330
107    34.0170
108    33.9680
109    34.6050
110    34.3600
111    33.8210
112    33.8210
113    33.8210
114    33.1840
115    32.9390
116    33.5760
117    34.1150
118    34.1150
119    34.1150
120    35.6500
121    35.6500
122    35.1500
123    34.9000
124    34.6500
125    34.7500
126    34.7500
127    34.7500
128    34.3500
129    34.3500
130    35.1000
131    36.0500
132    36.5000
133    36.5000
134    36.5000
135    36.6500
136    36.3000
137    35.6500
138    35.3500
139    34.8500
140    34.8500
141    34.8500
142    36.1000
143    36.0000
144    35.1000
145    34.6000
146    35.0000
147    35.0000
148    35.0000
149    35.0000
150    34.5000
151    34.0500
152    33.4000
153    32.2500
154    32.2500
155    32.2500
156    33.0500
157    33.5500
158    33.8500
159    33.4500
160    33.8000
161    33.8000
162    33.8000
163    34.7500
164    34.2000
165    33.0500
166    33.2000
167    33.8000
168    33.8000
169    33.8000
170    32.5500
171    32.6500
172    32.8000
173    32.5000
174    32.6000
175    32.6000
176    32.6000
177    33.8000
178    33.8000
179    34.1500
180    34.1000
181    33.5000
182    33.5000
183    33.5000
184    33.5000
185    33.5000
186    33.0000
187    32.7500
188    33.0000
189    33.0000
190    33.0000
191    33.1000
192    33.9000
193    33.7500
194    33.4000
195    33.3000
196    33.3000
197    33.3000
198    34.2000
199    34.8500
200    35.0000
201    35.0000
202    34.2500
203    34.2500
204    34.2500
205    33.6000
206    33.7000
207    33.2500
208    33.2500
209    33.1500
210    33.1500
211    33.1500
212    32.3500
213    31.5000
214    31.6500
215    31.7500
216    31.6000
217    31.6000
218    31.6000
219    31.5000
220    31.7000
221    32.5500
222    32.7500
223    33.1000
224    33.1000
225    33.1000
226    33.6000
227    33.2500
228    32.9000
229    32.7500
230    33.0000
231    33.0000
232    33.0000
233    33.8500
234    34.1000
235    33.2000
236    33.6500
237    33.3000
238    33.3000
239    33.3000
240    33.2000
241    32.8500
242    32.6000
243    32.3020
244    32.4490
245    32.4490
246    32.4490
247    32.4490
248    32.0570
249    32.7430
250    32.1550
251    31.8610
252    31.8610
253    31.8610
254    31.9100
255    32.4000
256    33.2820
257    33.7230
258    33.2820
259    33.2820
260    33.2820
261    34.3600
262    34.6540
263    34.7520
264    34.4090
265    32.7920
266    32.7920
267    32.7920
268    33.0370
269    32.9390
270    32.9880
271    32.5960
272    32.5960
273    31.8000
274    31.8000
275    30.8880
276    30.1200
277    30.9840
278    31.8960
279    31.9920
280    31.9920
281    31.9920
282    31.4160
283    31.7520
284    32.0880
285    31.8480
286    32.8560
287    32.8560
288    32.8560
289    31.5120
290    31.6080
291    30.9360
292    30.9840
293    30.4560
294    30.4560
295    30.4560
296    32.1840
297    31.9440
298    32.1360
299    31.6560
300    30.6480
301    30.6480
302    30.6480
303    31.5120
304    29.9780
305    28.8030
306    29.1790
307    29.6490
308    29.6490
309    29.6490
310    32.4220
311    32.8450
312    33.5500
313    33.8320
314    33.5030
315    33.5030
316    33.5030
317    33.2680
318    32.9390
319    33.2210
320    32.7040
321    32.6100
322    32.6100
323    32.6100
324    32.6100
325    32.5630
326    31.4350
327    31.4350
328    31.4350
329    31.4350
330    31.4350
331    30.4010
332    31.2940
333    32.7510
334    30.9680
335    30.0480
336    30.0480
337    30.0480
338    30.6000
339    30.2780
340    30.7840
341    29.7260
342    29.1740
343    29.1740
344    29.1740
345    29.6340
346    29.8180
347    28.5300
348    28.4380
349    28.0240
350    28.0240
351    28.0240
352    28.8060
353    29.1280
354    28.7140
355    27.8400
356    27.9320
357    27.9320
358    27.9320
359    27.9320
360    28.7600
361    29.2660
362    31.1980
363    31.1980
364    31.1980
365    36.8560
366    36.8560
367    64.8700
368    67.1700
369    44.5840
370    30.6000
371    30.6000
372    30.6000
373    30.4160
374    30.6000
375    32.4860
376    33.6820
377    40.8580
378    40.8580
379    40.8580
380    40.8580
381    50.7940
382    39.4780
383    34.9700
384    33.1760
385    33.1760
386    33.1760
387    32.7160
388    34.8780
389    36.6260
390    36.7640
391    36.2120
392    36.2120
393    36.2120
394    36.6260
395    36.9940
396    34.0670
397    32.2810
398    30.7770
399    30.7770
400    30.7770
401    30.1660
402    29.7430
403    29.5550
404    29.4610
405    28.4740
406    28.4740
407    28.4740
408    28.0040
409    28.1450
410    27.4870
411    27.3460
412    27.2050
413    27.2050
414    27.2050
415    27.2050
416    28.5210
417    28.8030
418    28.3800
419    27.9100
420    27.9100
421    27.9100
422    28.2390
423    28.3330
424    29.0160
425    29.0160
426    29.2080
427    29.2080
428    29.2080
429    29.5440
430    30.1680
431    30.5520
432    29.9760
433    29.7360
434    29.7360
435    29.7360
436    30.5040
437    30.5040
438    29.4480
439    29.5440
440    29.0160
441    29.0160
442    29.0160
443    29.1600
444    29.4960
445    29.8800
446    29.1120
447    28.5840
448    28.5840
449    28.5840
450    28.7280
451    28.9200
452    29.3040
453    29.3040
454    29.3040
455    30.9790
456    30.9790
457    30.6360
458    30.3910
459    31.1260
460    31.0770
461    31.1750
462    31.1750
463    31.1750
464    30.5870
465    30.3420
466    30.3910
467    30.5380
468    31.1260
469    31.1260
470    31.1260
471    31.6160
472    31.7140
473    31.8610
474    31.1260
475    30.6360
476    30.6360
477    30.6360
478    30.8320
479    31.1260
480    31.3220
481    31.4690
482    31.1260
483    31.1260
484    31.1260
485    30.8000
486    31.5000
487    31.3500
488    30.9000
489    30.8500
490    30.8500
491    30.8500
492    31.1000
493    31.1500
494    31.2500
495    31.3500
496    31.5500
497    31.5500
498    31.5500
499    32.2500
500    32.3500
501    31.7500
502    31.2000
503    31.5500
504    31.5500
505    31.5500
506    31.7000
507    31.8500
508    32.6000
509    32.7000
510    32.9000
511    32.9000
512    32.9000
513    32.9000
514    32.2500
515    32.3000
516    32.8500
517    32.9500
518    32.9500
519    32.9500
520    33.0500
521    32.6500
522    32.5000
523    33.3000
524    32.6000
525    32.6000
526    32.6000
527    33.5000
528    33.2000
529    33.4000
530    33.5500
531    33.7500
532    33.7500
533    33.7500
534    33.7000
535    33.0500
536    33.5000
537    34.0000
538    33.4000
539    33.4000
540    33.4000
541    33.3000
542    33.3000
543    33.9500
544    33.6500
545    33.6500
546    33.0000
547    33.0000
548    32.7000
549    32.6500
550    32.6500
551    32.6000
552    32.5000
553    32.5000
554    32.5000
555    32.5500
556    32.4500
557    32.3500
558    32.4000
559    32.0000
560    32.0000
561    32.0000
562    31.4000
563    31.8500
564    31.2500
565    31.1500
566    31.6000
567    31.6000
568    31.6000
569    31.0500
570    31.2000
571    31.7500
572    31.7500
573    31.8000
574    31.8000
575    31.8000
576    31.5500
577    32.1500
578    32.0000
579    31.9000
580    32.4000
581    32.4000
582    32.4000
583    32.6500
584    33.2500
585    33.7000
586    33.8500
587    33.2000
588    33.2000
589    33.2000
590    33.2000
591    33.7500
592    34.1000
593    33.8500
594    33.6500
595    33.6500
596    33.6500
597    33.8500
598    34.1000
599    33.9000
600    33.6500
601    33.6500
602    33.6500
603    33.6500
604    33.5000
605    33.3000
606    33.6000
607    33.0000
608    32.6940
609    32.6940
610    32.6940
611    32.6940
612    32.9880
613    32.8410
614    32.1550
615    31.7630
616    31.7630
617    31.7630
618    31.9100
619    32.3020
620    32.6940
621    32.6940
622    31.9590
623    31.9590
624    31.9590
625    32.4490
626    33.0860
627    33.9190
628    33.3800
629    33.5760
630    33.5760
631    33.5760
632    33.7720
633    34.6540
634    34.6540
635    34.0660
636    34.0660
637    34.0660
638    32.6640
639    33.7680
640    34.1040
641    35.2080
642    35.6400
643    35.1120
644    35.1120
645    35.1120
646    35.5920
647    36.2640
648    36.3120
649    34.5360
650    34.6800
651    34.6800
652    34.6800
653    35.2080
654    35.3520
655    35.6880
656    35.4480
657    34.7280
658    34.7280
659    34.7280
660    34.7280
661    34.9200
662    36.1680
663    35.7840
664    34.6800
665    34.6800
666    34.6800
667    34.3920
668    34.8720
669    34.8660
670    35.1480
671    34.2080
672    34.2080
673    34.2080
674    36.7460
675    36.8870
676    36.9340
677    37.8270
678    39.4720
679    39.4720
680    39.4720
681    40.9760
682    41.8690
683    47.0860
684    47.3210
685    44.0780
686    44.0780
687    44.0780
688    47.0390
689    48.1200
690    47.9320
691    47.9320
692    47.9320
693    47.9320
694    47.9320
695    43.7490
696    44.5480
697    45.6290
698    46.2400
699    45.9180
700    45.9180
701    45.9180
702    44.3080
703    46.5160
704    46.4240
705    44.4920
706    45.1360
707    45.1360
708    45.1360
709    45.3660
710    45.3200
711    42.5140
712    42.8360
713    39.7540
714    39.7540
715    39.7540
716    37.3160
717    37.7300
718    36.6720
719    37.9140
720    36.3960
721    36.3960
722    36.3960
723    36.3960
724    36.3960
725    33.4980
726    32.1180
727    32.1180
728    32.1180
729    32.1180
0      25.7880
1      25.7880
2      25.7880
3      25.7880
4      24.5340
5      27.8780
6      27.8780
7      27.8780
8      27.8780
9      27.8780
10     29.2080
11     28.0680
12     29.3980
13     29.0560
14     30.9940
15     30.9940
16     30.9940
17     33.8820
18     33.5780
19     35.0980
20     35.8580
21     35.9340
22     35.9340
23     35.9340
24     34.7560
25     36.0100
26     36.0860
27     35.5920
28     35.6300
29     35.6300
30     35.6300
31     36.5730
32     35.8800
33     34.4170
34     34.7635
35     37.3430
36     37.3430
37     37.3430
38     37.3430
39     37.3430
40     36.9965
41     37.3045
42     34.7250
43     34.7250
44     34.7250
45     36.1495
46     37.2660
47     33.3005
48     32.9925
49     31.4140
50     31.4140
51     31.4140
52     30.6055
53     30.2975
54     29.5660
55     29.0270
56     26.4860
57     26.4860
58     26.4860
59     27.1790
60     27.0250
61     26.8710
62     26.5630
63     26.5630
64     26.5630
65     26.5630
66     27.5640
67     28.2185
68     27.7950
69     27.4870
70     28.1415
71     28.1415
72     28.1415
73     27.7565
74     28.4110
75     27.8720
76     28.1030
77     26.9480
78     26.9480
79     26.9480
80     26.6400
81     28.2185
82     28.3340
83     28.3340
84     26.9095
85     26.9095
86     26.9095
87     27.4870
88     27.4485
89     27.1405
90     26.6015
91     25.7545
92     26.1020
93     26.1020
94     26.1020
95     26.6090
96     26.2580
97     26.3360
98     26.3750
99     26.3750
100    26.3750
101    25.9460
102    25.9460
103    25.6340
104    25.3220
105    24.5420
106    24.5420
107    24.5420
108    24.7760
109    24.8150
110    24.4250
111    24.6200
112    24.2300
113    24.2300
114    24.2300
115    24.5810
116    24.5810
117    25.2830
118    25.5950
119    25.5950
120    25.5950
121    25.5950
122    24.6980
123    25.0490
124    25.0880
125    25.5560
126    25.5170
127    25.5170
128    25.5170
129    25.5560
130    25.9850
131    26.0630
132    25.9070
133    25.8290
134    25.8290
135    25.8290
136    25.7900
137    25.8680
138    25.9850
139    25.3610
140    25.3220
141    25.3220
142    25.3220
143    25.5170
144    25.5560
145    25.3220
146    24.5420
147    24.6200
148    24.6200
149    24.6200
150    24.3470
151    24.1910
152    24.5030
153    24.3570
154    24.8310
155    24.8310
156    24.8310
157    24.7520
158    24.8310
159    24.5940
160    24.3175
161    24.7915
162    24.7915
163    24.7915
164    24.1990
165    24.7915
166    24.8705
167    24.5940
168    24.6335
169    24.6335
170    24.6335
171    24.6335
172    24.3965
173    24.4755
174    24.7520
175    24.9890
176    24.9890
177    24.9890
178    25.0680
179    25.1470
180    25.1470
181    24.9100
182    25.6210
183    25.6210
184    26.1740
185    26.1740
186    25.7790
187    25.6210
188    25.8185
189    26.0160
190    26.0160
191    26.0160
192    26.4505
193    26.0950
194    25.6605
195    26.2925
196    25.9370
197    25.9370
198    25.9370
199    25.6210
200    25.4235
201    25.8975
202    25.8975
203    25.4235
204    25.4235
205    25.4235
206    26.0160
207    25.7000
208    25.7395
209    25.9370
210    25.9370
211    25.9370
212    25.9370
213    25.7790
214    24.8930
215    24.9710
216    25.4780
217    25.4780
218    25.4780
219    25.4780
220    25.3220
221    25.2440
222    25.0880
223    24.2300
224    24.3080
225    24.3080
226    24.3080
227    23.7230
228    23.9570
229    24.2300
230    24.1520
231    23.5280
232    23.5280
233    23.5280
234    23.2550
235    23.2160
236    23.3330
237    23.4110
238    23.0600
239    23.0600
240    23.0600
241    22.9820
242    23.4500
243    23.4110
244    22.9430
245    23.2160
246    23.2160
247    23.2160
248    23.8010
249    23.5280
250    23.6840
251    23.7620
252    23.1380
253    23.1380
254    23.1380
255    23.4110
256    24.0740
257    23.8400
258    23.9180
259    23.3330
260    23.3330
261    23.3330
262    23.1770
263    23.2940
264    23.1770
265    23.0210
266    23.3330
267    23.3330
268    23.3330
269    23.4500
270    23.6060
271    22.9430
272    23.0600
273    23.4890
274    23.4890
275    22.2895
276    22.2895
277    22.2895
278    22.4050
279    22.0200
280    22.2510
281    22.2510
282    22.2510
283    22.0970
284    22.7515
285    22.7130
286    22.6360
287    22.1355
288    22.1355
289    22.1355
290    22.5205
291    22.4050
292    23.3675
293    23.4445
294    22.4820
295    22.4820
296    22.4820
297    22.6745
298    22.9440
299    23.0595
300    22.5590
301    22.0970
302    22.0970
303    22.0970
304    22.0585
305    21.8660
306    21.7120
307    21.5195
308    21.2885
309    21.2885
310    21.2885
311    21.9430
312    22.3665
313    21.8275
314    21.1345
315    21.1345
316    21.1345
317    21.1345
318    21.6735
319    21.5195
320    22.0200
321    22.0585
322    22.2895
323    22.2895
324    22.2895
325    23.0980
326    23.2905
327    23.0210
328    23.1365
329    23.6755
330    23.6755
331    23.6755
332    24.5995
333    26.2550
334    28.5240
335    28.9420
336    28.6380
337    28.6380
338    28.6380
339    29.2080
340    29.2840
341    28.1820
342    25.9780
343    26.3960
344    26.3960
345    26.3960
346    27.1560
347    31.2980
348    40.5700
349    30.5380
350    30.5380
351    30.5380
352    30.5380
353    26.4340
354    25.2180
355    23.8500
356    23.5080
357    23.7360
358    23.7360
359    23.7360
360    32.1340
361    48.3220
362    59.1520
363    30.6140
364    30.6140
365    24.3060
366    24.3060
367    24.3060
368    22.7860
369    22.5580
370    21.7220
371    21.7220
372    21.7220
373    21.7220
374    21.7220
375    21.8740
376    22.8620
377    22.5960
378    21.5700
379    21.5700
380    21.5700
381    22.1020
382    22.1400
383    23.1280
384    23.4320
385    22.8620
386    22.8620
387    22.8620
388    23.1660
389    24.0780
390    23.8880
391    23.3560
392    23.6600
393    23.6600
394    23.6600
395    24.0020
396    25.3310
397    24.4840
398    23.5600
399    24.1760
400    24.1760
401    24.1760
402    24.1760
403    24.1760
404    24.9075
405    24.7920
406    24.9460
407    24.9460
408    24.9460
409    25.0615
410    25.5620
411    25.4080
412    25.5620
413    25.7545
414    25.7545
415    25.7545
416    26.2550
417    26.1010
418    25.4850
419    25.0615
420    23.6755
421    23.6755
422    23.6755
423    23.4830
424    23.2520
425    23.2135
426    24.2915
427    23.3290
428    23.3290
429    23.3290
430    24.0605
431    24.1375
432    24.4070
433    24.5995
434    23.7140
435    23.7140
436    23.7140
437    23.6370
438    24.1375
439    24.2915
440    23.9450
441    25.1385
442    25.1385
443    25.1385
444    24.9845
445    24.4840
446    24.4455
447    24.3685
448    24.5225
449    24.5225
450    24.5225
451    24.6765
452    24.7150
453    23.9835
454    23.5600
455    24.0605
456    24.0605
457    24.8930
458    24.8930
459    25.0490
460    24.8540
461    25.0100
462    25.0100
463    25.0100
464    25.0100
465    25.5560
466    25.9850
467    26.1800
468    25.8290
469    25.0490
470    25.0490
471    25.0490
472    25.3220
473    25.4390
474    24.9320
475    24.5420
476    23.7620
477    23.7620
478    23.7620
479    24.8540
480    25.1660
481    25.4000
482    25.6730
483    25.6730
484    25.6730
485    25.6730
486    25.4390
487    24.6200
488    24.7760
489    24.9710
490    24.9320
491    24.9320
492    24.9320
493    24.7370
494    24.5810
495    25.4390
496    25.0100
497    24.9320
498    24.9320
499    24.9320
500    24.7370
501    24.8150
502    25.0880
503    25.5170
504    25.0880
505    25.0880
506    25.0880
507    24.6200
508    24.3470
509    23.7230
510    23.6450
511    23.7620
512    23.7620
513    23.7620
514    24.2300
515    24.1520
516    23.5280
517    23.9960
518    25.5420
519    25.5420
520    25.5420
521    25.4630
522    24.9495
523    25.0285
524    25.2655
525    25.8185
526    25.8185
527    25.8185
528    26.3715
529    26.4110
530    26.2925
531    25.8975
532    25.5815
533    25.5815
534    25.5815
535    25.0285
536    25.4235
537    25.3840
538    25.3840
539    25.0285
540    25.0285
541    25.0285
542    24.7915
543    24.7125
544    25.1075
545    25.1075
546    25.1075
547    25.1075
548    25.1075
549    25.7395
550    25.7000
551    25.7790
552    26.0160
553    25.5420
554    25.5420
555    25.5420
556    25.5420
557    25.4630
558    25.3050
559    25.5420
560    25.5025
561    25.5025
562    25.5025
563    25.2260
564    25.3050
565    25.5025
566    25.7000
567    25.8580
568    25.8580
569    25.8580
570    25.5025
571    25.8185
572    25.3050
573    25.1470
574    25.0285
575    25.0285
576    25.0285
577    25.4235
578    26.0950
579    27.1160
580    27.3500
581    27.3500
582    27.3500
583    27.3500
584    27.5060
585    27.2720
586    27.6620
587    27.6230
588    27.1160
589    27.1160
590    27.1160
591    26.4530
592    26.3750
593    26.9990
594    27.3890
595    27.4280
596    27.4280
597    27.4280
598    27.2330
599    26.9210
600    25.9850
601    25.4390
602    25.9070

# task 11